
.profilepage-par {
    display: flex;
    justify-content: center;
}

.profile-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 95%;
    padding-bottom: 100px;
}


.profile-info {
    width: 514px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    padding-bottom: 50px;
    box-shadow: 0px 2px 2px #00000029;
}



.profileinfo-slot {
    display: flex;
    justify-content: flex-start;
    margin-top: 35px;
    width: 100%;
}


.profileinfo-img {
    /* width: 20px; */
    height: 25px;
}


.profileinfo-text {
    margin-left: 20px;
    font-size: 22px;
    color: #7D8078;
    /* text-decoration: underline; */
    line-height: 1.2;
    cursor: pointer;
}


.profileinfo-par {
    width: 100%;
}

.profile-info-par {
    /* background-color: blue; */
    max-width: 100%;
}


.profile-route-par {
    width: 878px;
    /* height: 793px; */
    min-height: 793px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px #00000029;
}

.profile-info-par {
    margin-left: 50px;
}

.profile-maintitle {
    font-size: 26px;
    color: #7D8078;
    margin-top: 38px;
}

.profile-img {
    width: 130px;
    height: 130px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    border: solid 1px;
    font-size: 19px;
}

.profile-change-par {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-change {
    margin-left: 24px;
    font-size: 18px;
    color: #7D8078;
    cursor: pointer;
    text-decoration: underline 1px rgb(103, 104, 104);
}


.profile-change:hover {
    color: #ca5353;
    text-decoration: underline rgb(0, 0, 0);
}


.colorpicker {
    margin-top: 10px;
}

.profile-img-par {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 25px;
}



.profile-inputs {
  margin-top: 10px;
}


.profile-input-title {
   font-size: 20px;
   color: #7D8078;
}


.profile-input-par {
    position: relative;
    width: 80%;
}


.profile-eye {
    width: 30px;
    position: absolute;
    right: 13px;
    bottom: 13px;
    cursor: pointer;
}


.profile-input {
    width: 100%;
    height: 44px;
    margin-top: 10px;
    background-color: #F9F9F9;
    border-color: #707070A6;
    border-width: 0.5px;
    border-radius: 5px;
    color: #7D8078;
}

.profile-input:focus {
    outline: 1px;
    color: #181818;
}


.profile-button {
    width: 130px;
    height: 52px;
    background-color: #EC5257;
    border: transparent;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 50px;
    cursor: pointer;
    color: white;
}


.profile-button:hover {
    background-color: #f05f64;
}




.profilechanged {
    color: #EC5257;
    font-size: 18px;
    margin-top: 40px;
    text-align: center;
    width: 100%;
}






@media only screen and (max-width: 1500px) {


    .profile-info {
        width: 400px;
    }
    
    .profile-panel {
        width: 700px;
    }

    .profile-route-par {

        width: 700px;

    }


}