
.liveproduct-par {
    width: 100%;
    display: flex;
    justify-content: center;
}


.live-product {
    width: 95%;
    /* display: flex;
    justify-content: center; */
    margin-bottom: 100px;
}


.product-head-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}

.product-head-p {
    margin-left: 50px;
    font-size: 21px;
    color: #305361;
}

.arrow-wrapper {
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.arrows {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.arrows:hover {
    background-color: rgb(127, 145, 145);
}



.liveproduct-slot-par {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.price-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    position: absolute;
    bottom: 15px;
}

.price {
    font-size: 20px;
}

.buy {
    width: 130px;
    height: 40px;
    border-radius: 15px;
    border-color: #E93338;
    cursor: pointer;
}

.buy:hover {
    background-color: rgba(203, 219, 210, 0.829);
}


.rating-par {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
}


.rating {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.star-wrapper {
  position: relative;
} 

.stars {
    position: absolute;
    top: 0;
}

.star {
    width: 15px;
}



.graystar {
    width: 15px;
}


.hearth {
    width: 25px;
    height: 22px;
    cursor: pointer;
}






/* ///////////////////////////// */



@media only screen and (max-width: 1515px) {


    .live-product {
        width: 100%;
        margin-bottom: 100px;
        display: flex;
        justify-content: space-around;
    }
    
    
    
    .product-head-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 26px;
    }
    
    .product-head-p {
        margin-left: 50px;
        font-size: 21px;
        color: #305361;
    }
    
    .arrow-wrapper {
        margin-right: 20px;
    }
    
    .arrows {
        width: 35px;
        height: 35px;
    }




}





@media only screen and (max-width: 470px) {


  .product-head-p {
      margin-left: 15px;
  }
   
  .catalog-title {
      margin-left: 15px;
  }

}
