

.live-product {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}


.product-head-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}

.product-head-p {
    margin-left: 50px;
    font-size: 21px;
    color: #305361;
}

.arrow-wrapper {
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.arrows {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.arrows:hover {
    background-color: rgb(127, 145, 145);
}




/* ///////////////////////////// */



@media only screen and (max-width: 1515px) {


    .live-product {
        width: 100%;
        margin-bottom: 100px;
        display: flex;
        justify-content: space-around;
    }
    
    
    
    .product-head-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 26px;
    }
    
    .product-head-p {
        margin-left: 50px;
        font-size: 21px;
        color: #305361;
    }
    
    .arrow-wrapper {
        margin-right: 20px;
    }
    
    .arrows {
        width: 35px;
        height: 35px;
    }




}

