
.about-par {
    padding-top: 100px;
}



.about-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-title-par {
    width: 90%;
    display: flex;
    justify-content: flex-start;
}

.about-title {
    font-size: 22px;
    color: #ff0000;
    font-weight: 700;
    margin-top: 20px;
}


.about-text {
    font-size: 20px;
    width: 90%;
    line-height: 1.7;
    margin-top: 20px;
    color: #4f4f51;
    margin-bottom: 50px;
}