
.banner-wrapper {
    position: relative;
    margin-bottom: 38px;
}


.banner {
    background-image: url('./pictures/banner.jpg');
    background-color: #be1010;
    background-size:     cover;      
    background-repeat:   no-repeat;
    background-position: center center; 
    width: 100%;
    height: 575px;
}

.banner2 {
    background-image: url('./pictures/banner2.png');
    background-color: #be1010;
    background-size:     cover;      
    background-repeat:   no-repeat;
    background-position: center center; 
    width: 100%;
    height: 575px;
}

.ban-text {
    width: 564px;
    height: 147px;
    font-size: 42px;
    color: #3B4040;
    position: absolute;
    top: 123px;
    left: 90px;
    text-align: start;
}

.button {
    width: 205px;
    height: 54px;
    font-size: 22px;
    color: #3C3939;
    position: absolute;
    top: 233px;
    left: 90px;
    background: #FFFFFF21 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    opacity: 1;
    cursor: pointer;
}

.button:hover {
    background: #86818121;
}

.slot-wrapper-par {
    width: 100%;
    display: flex;
    justify-content: center;
}


.slot-wrapper {
    width: 95%;
    margin-bottom: 133px;
    display: flex;
    justify-content: space-between;
}

.slot {
    width: 460px;
    height: 281px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 5px #00000029;
}

.slot:hover {
    background-color: rgb(223, 225, 245);
}


.slot-img {
    width: 45px;
    margin-bottom: 20px;
}

.p1 {
  font-size: 20px;
  color: black;
  margin-bottom: 12px;
}

.p2 {
    width: 361px;
    text-align: center;
    font-size: 20px;
    color: #6A6A68;
    line-height: 1.2;
}

.p3 {
    width: 350px;
    text-align: center;
    font-size: 20px;
    color: #6A6A68;
    line-height: 1.2;
}


.p4 {
    width: 300px;
    text-align: center;
    font-size: 20px;
    color: #6A6A68;
    line-height: 1.2;
}







.catalog-title {
    margin-left: 50px;
    font-size: 21px;
    margin-bottom: 20px;
    color: #305361;
}

.catalog-par {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.catalog {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.catalog-slot {
    /* justify-self: center; */
    width: 277px;
    height: 277px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
}

.catalog-slot:hover {
    outline: solid;
    outline-color: #b5b5be;
    outline-width: 2px;
}

.catalog-img {
    margin-bottom: 10px;
    height: 100px;
}

.catalog-p {
    font-size: 20px;
    color: #6A6A68;
}



.ad {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}


.phone {
    width: 500px;
    margin-right: 100px;
}


.left-text {
    width: 460px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.left-text-h2 {
    width: 350px;
    font-size: 30px;
    margin-bottom: 30px;
    color: #EA3339;
}


.left-text-p {
    font-size: 20px;
    margin-bottom: 10px;
    color: #6A6A68;
}

.store-par {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.store {
    width: 200px;
}



/* //////////////////////////////////////////////////////////////////////////////////// */





@media only screen and (max-width: 1515px) {

    
.banner-wrapper {
    position: relative;
    margin-bottom: 38px;
}


.banner {
    background-image: url('./pictures/banner.jpg');
    background-color: #be1010;
    background-size:     cover;      
    background-repeat:   no-repeat;
    background-position: center center; 
    width: 100%;
    height: 575px;
}

.ban-text {
    width: 564px;
    height: 147px;
    font-size: 42px;
    color: #3B4040;
    position: absolute;
    top: 123px;
    left: 90px;
}

.button {
    width: 205px;
    height: 54px;
    font-size: 22px;
    color: #3C3939;
    position: absolute;
    top: 233px;
    left: 90px;
    background: #FFFFFF21 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    opacity: 1;
}

.slot-wrapper-par {
    width: 100%;
    display: flex;
    justify-content: center;
}


.slot-wrapper {
    width: 95%;
    margin-bottom: 133px;
    display: flex;
    justify-content: space-between;
}

.slot {
    width: 300px;
    height: 281px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slot-img {
    width: 45px;
    margin-bottom: 20px;
}

.p1 {
  font-size: 20px;
  color: black;
  margin-bottom: 12px;
}

.p2 {
    width: 250px;
    text-align: center;
    font-size: 20px;
    color: #6A6A68;
    line-height: 1.2;
}



.p3 {
    width: 250px;
    text-align: center;
    font-size: 20px;
    color: #6A6A68;
    line-height: 1.2;
}


.p4 {
    width: 250px;
    text-align: center;
    font-size: 20px;
    color: #6A6A68;
    line-height: 1.2;
}







.catalog-par {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.catalog {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}

.catalog-slot {
    justify-self: center;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.catalog-p {
    font-size: 20px;
    text-align: center;
}



  }








@media only screen and (max-width: 1100px) {


    .catalog {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
 
    .phone {
        width: 500px;
        margin-right: 30px;
    }


    .banner {
        background-image: url('./pictures/banner-mobile.jpg');
        background-color: #be1010;
        background-size:     cover;      
        background-repeat:   no-repeat;
        background-position: center center; 
    }
    
    .banner2 {
        background-image: url('./pictures/banner2.png');
        background-color: #be1010;
        background-size:     cover;      
        background-repeat:   no-repeat;
        background-position: center center; 
        width: 100%;
        height: 575px;
    }
    
    .ban-text {
        width: 564px;
        height: 147px;
        font-size: 42px;
        color: #3B4040;
        position: absolute;
        top: 123px;
        left: 90px;
        text-align: start;
    }


}



@media only screen and (max-width: 1000px) {

    .slot {
        width: 260px;
        height: 270px;
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 5px 5px #00000029;
    }


    .phone {
        width: unset;
        height: 500px;
        margin-right: 30px;
    }


}






    @media only screen and (max-width: 950px) {

    .catalog {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        gap: 10px;
    }

    }



    
@media only screen and (max-width: 850px) {

/*     
    .slot-wrapper {
        margin-bottom: 33px;
    } */
    
    .slot {
        width: 200px;
        height: 290px;
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 0px 5px 5px #00000029;
        margin-bottom: 20px;
    }

    /* .slot-a {
        width: 100%;
        display: flex;
        justify-content: center;
    } */


    .slot-img {
        width: unset;
        height: 40px;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    
    .p1 {
      font-size: 15px;
      color: black;
      margin-bottom: 12px;
      text-align: center;
    }

    .p2 {
        max-width: 180px;
        text-align: center;
        font-size: 20px;
        color: #6A6A68;
        line-height: 1.2;
    }
    
    .p3 {
        width: 180px;
        text-align: center;
        font-size: 20px;
        color: #6A6A68;
        line-height: 1.2;
    }


    .p4 {
        width: 180px;
        text-align: center;
        font-size: 20px;
        color: #6A6A68;
        line-height: 1.2;
    } 
    

}




    @media only screen and (max-width: 800px) {

        .ban-text {
           max-width: 400px;
            /* height: 300px; */
            font-size: 40px;
            position: absolute;
            top: 123px;
            left: 30px;
        }
    
        .button {
            width: 205px;
            height: 54px;
            font-size: 22px;
            position: absolute;
            top: 300px;
            left: 30px;
            background: #ffffff91

        }
    
    }




    

    @media only screen and (max-width: 770px) {

        .catalog {
            width: 95%;
            display: grid;
            grid-template-columns: 1fr 1fr ;
            gap: 10px;
        }


        .ad {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 150px;
        }
        
        
        /* .phone {
            width: 500px;
            margin-right: 100px;
        } */
        
        
        .left-text {
            width: 350px;
            height: 320px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
        
        .left-text-h2 {
            width: 350px;
            font-size: 30px;
            margin-bottom: 30px;
            color: #EA3339;
        }
        
        
        .left-text-p {
            font-size: 20px;
            margin-bottom: 10px;
            color: #6A6A68;
        }
        
        .store-par {
            margin-top: 15px;
            width: 95%;
            display: flex;
            justify-content: space-between;
        }
        
        .store {
            width: 160px;
        }
        

    
    }
    

    





    @media only screen and (max-width: 700px) {

        .catalog {
            width: 95%;
            display: grid;
            grid-template-columns: 1fr 1fr ;
            gap: 10px;
        }


        .ad {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 150px;
        }
        
        
         .phone {
            display: none;
        } 
        
        
        .left-text {
            width: 95%;
            height: 320px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .left-text-h2 {
            width: 90%;
            text-align: center;
            font-size: 30px;
            margin-bottom: 30px;
            color: #EA3339;
        }
        
        
        .left-text-p {
            font-size: 20px;
            margin-bottom: 10px;
            color: #6A6A68;
            text-align: center;
        }
        
        .store-par {
            margin-top: 15px;
            width: 60%;
            display: flex;
            justify-content: space-between;
        }
        
        .store {
            width: 160px;
        }
    
    
    }
    

    
    
@media only screen and (max-width: 850px) {

/*     
    .slot-wrapper {
        margin-bottom: 33px;
    } */
    
    .slot {
        width: 200px;
        height: 290px;
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 0px 5px 5px #00000029;
        margin-bottom: 20px;
    }

    /* .slot-a {
        width: 100%;
        display: flex;
        justify-content: center;
    } */


    .slot-img {
        width: unset;
        height: 40px;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    
    .p1 {
      font-size: 15px;
      color: black;
      margin-bottom: 12px;
      text-align: center;
    }

    .p2 {
        max-width: 180px;
        text-align: center;
        font-size: 20px;
        color: #6A6A68;
        line-height: 1.2;
    }
    
    .p3 {
        width: 180px;
        text-align: center;
        font-size: 20px;
        color: #6A6A68;
        line-height: 1.2;
    }


    .p4 {
        width: 180px;
        text-align: center;
        font-size: 20px;
        color: #6A6A68;
        line-height: 1.2;
    } 
    

}




    @media only screen and (max-width: 800px) {

        .ban-text {
           max-width: 400px;
            /* height: 300px; */
            font-size: 40px;
            position: absolute;
            top: 123px;
            left: 30px;
        }
    
        .button {
            width: 205px;
            height: 54px;
            font-size: 22px;
            position: absolute;
            top: 300px;
            left: 30px;
            background: #ffffff91

        }
    
    }





      
    
@media only screen and (max-width: 660px) {

    /*     
        .slot-wrapper {
            margin-bottom: 33px;
        } */
        
        .slot {
            width: 160px;
            height: 160px;
            border-radius: 10px;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            box-shadow: 0px 5px 5px #00000029;
            margin-bottom: 20px;
        }

    
        .slot-img {
            width: unset;
            height: 40px;
            margin-bottom: 20px;
            margin-top: 15px;
        }
        
        .p1 {
          font-size: 15px;
          color: black;
          margin-bottom: 12px;
          text-align: center;
        }
    
        .p2 {
            display: none;
        }
        
        .p3 {
            display: none;
        }
    
    
        .p4 {
            display: none;
        } 
        
    
    }
    
    

         
    
@media only screen and (max-width: 540px) {


    .store-par {
        margin-top: 15px;
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

    /*     
        .slot-wrapper {
            margin-bottom: 33px;
        } */
        
        .slot {
            width: 135px;
            height: 130px;
            border-radius: 10px;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            box-shadow: 0px 5px 5px #00000029;
            margin-bottom: 20px;
        }

    
        .slot-img {
            width: unset;
            height: 40px;
            margin-bottom: 20px;
            margin-top: 15px;
        }
        
        .p1 {
          font-size: 15px;
          color: black;
          margin-bottom: 12px;
          text-align: center;
        }
        
    
    }
    
    



    @media only screen and (max-width: 460px) {






        .ban-text {
           max-width: 290px;
            /* height: 300px; */
            font-size: 38px;
            position: absolute;
            top: 70px;
            left: 30px;
        }
    
        .button {
            width: 205px;
            height: 54px;
            font-size: 22px;
            position: absolute;
            top: 270px;
            left: 30px;
            background: #ffffff91

        }

        .catalog {
            width: 95%;
            display: grid;
            /* grid-template-columns: 1fr ; */
            gap: 10px;
        }


        .catalog-slot {
            width: 160px;
            height: 160px;
            background-color: white;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 3px 6px #00000029;
            cursor: pointer;
        }


        .banner {
            background-image: url('./pictures/baner1-small.jpg');
            background-size:     cover;      
            background-repeat:   no-repeat;
            background-position: center center; 
            height: 400px;
        }

        .banner2 {
            background-image: url('./pictures/baner2-small.png');
            background-color: #be1010;
            background-size:     cover;      
            background-repeat:   no-repeat;
            background-position: center center; 
            height: 400px;
        }

        /* .slot {
            height: 220px;
        } */

        .slot-img {
            margin-bottom: 5px;
        }
    
    }



    
@media only screen and (max-width: 450px) {


    .store-par {
        margin-top: 15px;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    
    .slot-wrapper {
        margin-bottom: 33px;
    }
    
    .slot {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 5px 5px #00000029;
        margin-bottom: 20px;
    }

    /* .slot-a {
        width: 100%;
        display: flex;
        justify-content: center;
    } */


    .slot-img {
        width: unset;
        height: 40px;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    
    .p1 {
      font-size: 15px;
      color: black;
      margin-bottom: 12px;
      /* display: none; */
      text-align: center;
      line-height: 1.2;
    }

    .p2 {
        width: 100px;
        text-align: center;
        font-size: 20px;
        color: #6A6A68;
        line-height: 1.2;
        display: none;
    }
    
    .p3 {
        width: 100px;
        text-align: center;
        font-size: 20px;
        color: #6A6A68;
        line-height: 1.2;
        display: none;
    }


    .p4 {
        width: 100px;
        text-align: center;
        font-size: 20px;
        color: #6A6A68;
        line-height: 1.2;
        display: none;
    }
    

}




    @media only screen and (max-width: 400px) {


        .catalog-slot {
            width: 145px;
            height: 135px;
            background-color: white;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 3px 6px #00000029;
            cursor: pointer;
        }


        .catalog-img {
            margin-bottom: 10px;
            height: 70px;
        }
        
        .catalog-p {
            font-size: 15px;
            color: #6A6A68;
            line-height: 1.2;
        }


    }

