
.cart-product-wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}



.cart-register {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #68696a4d;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cart-menu {
    width: 450px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 8;
    position: absolute;
}


.cart-menu-text {
    font-size: 18px;
    text-align: center;
    width: 80%;
    line-height: 1.1;
}

.cart-menu-button {
    margin-top: 20px;
    width: 80%;
    height: 40px;
    border-radius: 7px;
    border: solid 1px #EA3339;
    cursor: pointer;
}



.cart-product-par {
    width: 983px;
}

.cart-sum {
    width: 395px;
    height: 373px;
    background-color: white;
    border-radius: 10px;
    margin-left: 30px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    box-shadow: 0px 3px 6px #00000029;
}




.cart-sum-div {
    width: 319px;
    height: 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sum-line {
    width: 100%;
    height: 1px;
    background-color: #CCCCCC;
    margin-bottom: 10px;
}



.sum-title {
    color: #7D8078;
}

.sum-title-1 {
    color: #676962;
}


.cart-sum-slots {
    width: 319px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.sum-buy {
    width: 336px;
    height: 54px;
    border-radius: 15px;
    border: solid 1px #EA3339;
    color: 20px;
    font-size: 20px;
    position: absolute;
    bottom: 30px;
}


.cart-titles {
    width: 100%;
    height: 46px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 3px 6px #00000029;
}





.cart-product {
    width: 981px;
    height: 148px;
    background-color: white;
    border-radius: 10px;
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 9%;
    box-shadow: 0px 3px 6px #00000029;
}

.cart-counter-par {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart-counter-button {
    background-color: transparent;
    border: transparent;
    font-size: 20px;
    color: #666656;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-empty-par {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cart-empty {
    width: 80%;
    height: 148px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px #00000029;
}

.cart-delete {
    cursor: pointer;
    color: #EA3339;
    margin-top: 25px;
    text-decoration: underline 1px #EA3339;
}

.cart-right-product {
    height: 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 135px;
}

.cart-product-prices {
    color: #6A6A68;
    font-size: 18px;
}

.cart-product-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* width: 270px; */
}

.left-product-text-par {
    width: 130px;
}

.cart-image-par {
    overflow: hidden;
    width: 130px;
    height: 130px;
    /* background-color: red; */
    margin-left: 15px;
    margin-right: 15px;
}

.cart-img {
    width: 100%;
}


.cart-product-title {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    color: #6A6A68;
}

.cart-product-text {
    font-size: 15px;
    margin-bottom: 5px;
    line-height: 1.2;
    color: #6A6A68;
}


.cart-caution {
    margin-bottom: 140px;
    margin-left: 70px;
    font-size: 22px;
    color: #7D8078;
}





@media only screen and (max-width: 1460px) {

    .cart-product-par {
        width: 700px;
    }

    .cart-titles {
        width: 700px;
    }

    .cart-product {
        width: 700px;
    }

}



