.logo {
    width: 214px;
    height: 49px;
}

.input {
  padding-left: 81px;
  font-size: 18px;
  width: 833px;
  height: 49px;
  background: #F4F2F0 0% 0% no-repeat padding-box;
  border: 2px solid #5F504F14;
  border-radius: 15px;
  opacity: 1;
}

.input:hover {
    outline: solid;
    outline-width: 1px;
    outline-color: rgba(165, 179, 179, 0.829);
}

.search {
  position: absolute;   
  top: 12px;
  left: 21px;
  width: 25px;
  height: 25px;
}

.search-wrap {
    position: relative;
    
}

.header-cart-wrapper {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
}

.header-cart-number {
    position: absolute;
    /* margin-bottom: ; */
    font-size: 17px;
    /* z-index: 5; */
    color: white;
    bottom: 18px;
    left: 20px;
    background-color: #EA3339;
    width: 17px;
    text-align: center;
    border-radius: 30px;
}

.icons {
  height: 30px;
}

.icon-wrap {
  margin-top: 9px;
  width: 148px;
  height: 25px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.line-wrapper {
    margin-top: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.header-line2 {
    width: 100%;
    height: 60px;
    background-color: #EA3339;
}

.header-text-par {
    margin-left: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 60px;
}

.header-text {
    font-size: 20px;
    color: white;
    width: 200px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: transform 0.4s ease; */
}

.header-text:hover {
    outline: solid;
    outline-width: 1px;
    outline-color: rgb(230, 227, 223);
    transform: scale(1.05);
    color: black;
    transition-duration: 0.4s;
}

.header-burger-par {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 58px;
    transition: transform 0.2s ease;
}

.header-burger-par:hover {
    outline: solid;
    outline-width: 1px;
    outline-color: rgb(230, 227, 223);
    transform: scale(1.03);
}

.burger-text {
    font-size: 20px;
    color: white;
}


.burger {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}




/* /////////////////////////////////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 1300px) {

 .header-line2 {
     display: flex;
     justify-content: space-around;
 }

 .header-text-par {
     margin-left: 0px;
     width: 100%;
 }

}




@media only screen and (max-width: 1215px) {

    .input {

        width: 600px;

      }

  }
