

.drug-invis {
    width: 100%;
    height: 30px;
    background-color:  #F4F2F0;
    position: sticky;
    top: 0;
    z-index: 10;
}



.drugpage-filter-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
}

.drugpage-filters {
    width: 262px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    box-shadow: 0px 3px 6px #00000029;
}

.drug-filter-button {
    width: 100%;
    background-color:  #F0EFEF;
    border: 1px solid  #cecaca ;
    border-radius: 7px;
    color: #616161;
    cursor: pointer;
}

.drug-filter-button:hover {
   background-color: #c2bdbd54;
}

.drugpage-title-par {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 18px;
    height: 35px;
}

.drugpage-filters-title {
    height: 27px;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #616161;
}

.drug-filter-seeall {
    font-size: 13px;
    width: 43%;
    height: 25px;
    margin-right: 10px;
    border-radius: 7px;
    border: solid 1px #918f8f9c;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #616161;
    background-color: #F0EFEF;
}

.seeall-text {
    font-size: 14px;
    cursor: pointer;
}

.drugpage-close {
    width: 15px;
}

.drug-input-par {
    display: flex;
    justify-content: center;
    width: 100%;
}


.drug-input {
    width: 100%;
    height: 25px;
    background-color: #F0EFEF;
    border-radius: 7px;
    border: 1px solid  #cecaca ;
    outline-color: #91918f;
}

.drug-input:hover {
    background-color: #dddddddc; 
}

.drug-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}


.filter-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.test {
    position: sticky;
    top: 20px;
    margin-bottom: 30px;
}


.drugpage-lowfilter {
    width: 262px;
    height: 132px;
    border-radius: 10px;
    background-color: white;
}


.drugpage-content-par {
    display: flex;
    justify-content: center;
    position: relative;
}



.drug-wrapper-par {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 180px;
}

.filternames{
    margin-bottom: 10px;
    width: 100%;
    padding-left: 3%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.filtertag-par {
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 36px;
    border: 1px solid #6A6A68;
    background-color:  #4a6cfa;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.filtertag-text {
    color: #e3e3e4;
    font-size: 14px;
}

.closetag {
    width: 10px;
    margin-left: 8px;
    margin-right: 2px;
}


.drugs-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    width: 95%;
}


.drug-product-slot {
    position: relative;
    width: 267px;
    height: 275px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    box-shadow: 0px 5px 5px #0000000D;
}

.drug-product-slot:hover {
    outline: solid;
    outline-color: #b5b5be;
    outline-width: 2px;
}


.drug-product-slot:hover .drug-product-img {

    transform: scale(1.05);

}


.fade {
  display: none;
}


.callfade{
    animation: fadeout 0.2s;
    display: block;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
}

@keyframes fadeout {
    0%{background-color: rgba(255, 255, 255, 0);}
    100%{background-color: rgba(241, 242, 243, 0.774);}
}

.drug-rating-par {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 15px;
}


.drug-rating {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.drug-star-wrapper {
  position: relative;
} 

.drug-stars {
    position: absolute;
    top: 0;
}

.drug-star {
    width: 15px;
}



.drug-graystar {
    width: 15px;
}


.drug-hearth {
    width: 25px;
    height: 22px;
    cursor: pointer;
}



.drug-picture-wrapper {
    width: 160px;
    height: 90px;
    overflow: hidden;
    margin-top: 13px;
}


.drug-product-img {
    width: 160px;
    transition: transform 0.3s ease;
}

.drug-product-title {
    color:#2E2A2A;
    font-size: 18px;
    margin-top: 10px;
}


.drug-product-text-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.drug-product-category {
    font-size: 15px;
    margin-top: 7px;
    color: #6A6A68;
}


.smallcat {
  color: #6A6A68;
  margin-top: 6px;
  font-size: 13px;
}

.drug-price-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 20px; */
    position: absolute;
    bottom: 7px;
    z-index: 5;
}

.drug-price {
    font-size: 20px;
    color: #EA3339;
}

.drug-buy {
    width: 110px;
    height: 35px;
    border-radius: 15px;
    border-color: #e93339b7;
    border-width: 1.5px;
    cursor: pointer;
}

.drug-buy:hover {
    background-color: rgba(203, 219, 210, 0.829);
}




.link-wrap {
    position: relative;
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
    width: 267px;
    height: 275px;
}



.drug-switch {
    margin-top: 30px;
    /* background-color: #EA3339; */
    width: 95%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
}



.offer-arrow-wrapper {
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
}

.offer-arrows {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 30px;
    cursor: pointer;
}


.not-found-par {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.not-found-text {
    font-size: 18px;
    color: #6A6A68;
}



@media only screen and (max-width: 1515px) {

    
    .drug-product-slot {
        width: 240px;
        height: 278px;
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    .drug-picture-wrapper {
        width: 160px;
        height: 90px;
        overflow: hidden;
    }
    
    
    
    .drug-product-title {
        font-size: 18px;
        margin-top: 10px;
    }
    
    
    .drug-product-category {
        font-size: 13px;
        margin-top: 10px;
    }
    
    .drug-price-wrapper {
        display: flex;
        margin-top: 15px;
    }
    
    .drug-price {
        font-size: 20px;
    }
    
    /* .drug-buy {
        width: 130px;
        height: 40px;
        border-radius: 15px;
        border-color: #e93339b7;
        border-width: 1.5px;
    } */
    

    .link-wrap {
        width: 240px;
        height: 278px;
    }

}



@media only screen and (max-width: 1300px) {

    .drugs-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        row-gap: 30px;
        width: 95%;
    }

}

