
.des-product-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    /* background-color: blue; */
}


.des-product-image-par {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
}


.des-picture-content {
    display: flex;
    justify-content: center;
}

.des-smallimages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 175px;
}

.des-smallimage-pic {
    transition: transform 0.4s ease;
    width: 179px;
}







.des-smallimage-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 169px;
    height: 226px;
    border-radius: 10px;
    background-color: white;
    /* outline: solid 1px rgba(100, 95, 95, 0.37); */
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: 0px 2px 3px #00000029;
}

.des-smallimage-par {
    width: 140px;
    height: 200px;
    overflow: hidden;
}


.des-smallimage-par:hover .des-smallimage-pic {
    transform: scale(1.15);
    /* transition-duration: 0.4s; */
}




.des-bigimage-wrapper {
    width: 656px;
    height: 485px;
    border-radius: 10px;
    background-color: white;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* outline: solid 1px rgba(100, 95, 95, 0.37); */
    cursor: pointer;
    box-shadow: 0px 3px 3px #00000029;
}



.des-big-image-par {
    width: 580px;
    height: 445px;
    overflow: hidden;
}

.des-bigimage-wrapper:hover .des-bigimage {
    transform: scale(1.15);
    /* transition-duration: 0.4s; */
}


.des-bigimage {
    width: 580px;
    height: 445px;
    border-radius: 10px;
    transition: transform 0.4s ease;
}




.des-sidetext {
    width: 446px;
    height: 485px;
    /* background-color: white; */
    margin-left: 40px ;
}


.side-name {
    margin-top: 20px;
    font-size: 22px;
    color: #6A6A68;
    margin-bottom: 22px;
}


.side-price {
    font-size: 22px;
    color: #EA3339;
    margin-bottom: 22px;
}


.side-texts {
    font-size: 20px;
    color: #6A6A68;
    margin-bottom: 20px;
}


.dummy {
    width: 89px;
    height: 44px;
    background-color: #F4F2F0;
    border: solid 1px #EA3339;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.des-add {
    width: 317px;
    height: 62px;
    border-radius: 15px;
    border-width: 1px;
    border-color: #EA3339;
}


.des-add-par {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.des-hearth-par {
    width: 81px;
    height: 60px;
    background-color: #EA3339;
    background-color: transparent;
    outline: solid 1px #EA3339;
    border-radius: 10px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.des-hearth-par-a {
    width: 81px;
    height: 60px;
    background-color: #EA3339;
    outline: solid 1px #EA3339;
    border-radius: 10px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.des-hearth-img {
    width: 28px;
    height: 26px;
}


.des-anotation-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}


.des-anotation {
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
  margin-left: 20px;
  width: 90%;
}


.des-anot-text {
   width: 90%; 
   line-height: 3;
   margin-top: 30px;
   margin-bottom: 30px;
   
}







@media only screen and (max-width: 1400px) {

    .des-product-content {
        margin-left: unset;
        width: 100%;
    }

    .des-product-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        /* background-color: blue; */
    }


    .des-picture-content {
        width: 95%;
        display: flex;
        justify-content: space-between;
    }



    .des-bigimage-wrapper {
        width: 880px;
        height: 485px;
        border-radius: 10px;
        background-color: white;
        margin-left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* outline: solid 1px rgba(100, 95, 95, 0.37); */
        cursor: pointer;
        box-shadow: 0px 3px 3px #00000029;
    }



    .des-big-image-par {
        width: 90%;
        height: 90%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .des-bigimage {
        width: 580px;
        height: 445px;
        border-radius: 10px;
        transition: transform 0.4s ease;
    }
    

    
    
    .des-product-image-par {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: unset;
        width: 100%;
    }



    .des-smallimages {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: unset;
    }



    

    
.des-smallimage-pic {
    transition: transform 0.4s ease;
    width: 100%;
    /* image-rendering: pixelated; */

    

}







.des-smallimage-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 226px;
    border-radius: 10px;
    background-color: white;
    /* outline: solid 1px rgba(100, 95, 95, 0.37); */
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: 0px 2px 3px #00000029;
}

.des-smallimage-par {
    width: 250px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}





    .des-sidetext {
        width: 95%;
        height: 485px;
        background-color: white;
        margin-left: 0px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 100px;
        border-radius: 10px;
    }
    


    .des-anotation-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: unset;
      }


      .des-anotation {
        background-color: white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 30px;
        margin-left: unset;
        width: 95%;
    }


    .dummy {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    

}






@media only screen and (max-width: 940px) {




    .des-bigimage-wrapper {
        width: 500px;
        height: 485px;
        border-radius: 10px;
        background-color: white;
        margin-left: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* outline: solid 1px rgba(100, 95, 95, 0.37); */
        cursor: pointer;
        box-shadow: 0px 3px 3px #00000029;
    }



    
    .des-bigimage {
        width: 400px;
        height: unset;
        border-radius: 10px;
        transition: transform 0.4s ease;
    }



.des-smallimage-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 226px;
    border-radius: 10px;
    background-color: white;
    /* outline: solid 1px rgba(100, 95, 95, 0.37); */
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: 0px 2px 3px #00000029;
}
    

}






@media only screen and (max-width: 810px) {




    .des-bigimage-wrapper {
        width: 400px;
        height: 485px;
        border-radius: 10px;
        background-color: white;
        margin-left: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* outline: solid 1px rgba(100, 95, 95, 0.37); */
        cursor: pointer;
        box-shadow: 0px 3px 3px #00000029;
    }



    .des-bigimage {
        width: 350px;
        height: 350px;
        border-radius: 10px;
        transition: transform 0.4s ease;
    }




    .des-smallimage-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 226px;
        border-radius: 10px;
        background-color: white;
        /* outline: solid 1px rgba(100, 95, 95, 0.37); */
        margin-bottom: 30px;
        cursor: pointer;
        box-shadow: 0px 2px 3px #00000029;
    }
        

}






@media only screen and (max-width: 670px) {

    .des-sidetext {
        width: 95%;
        height: 485px;
        background-color: white;
        margin-left: 0px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 20px;
        border-radius: 10px;
    }      


    
.productpage-slide {
    width: 500px;
    height: 470px;
    overflow: hidden;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.productpage-carousel-img {
    width: 95%;
}

.productpage-carousel-par {
    background-color: white;
    width: 95%;
    border-radius: 10px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

}









@media only screen and (max-width: 560px) {



    .des-sidetext {
        width: 95%;
        height: 485px;
        background-color: white;
        margin-left: 0px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 20px;
        border-radius: 10px;
    }


    .des-add {
        width: 240px;
        height: 62px;
        border-radius: 15px;
        border-width: 1px;
        border-color: #EA3339;
    }


      
.productpage-slide {
    width: 400px;
    height: 400px;
    overflow: hidden;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.productpage-carousel-img {
    width: 90%;
    /* height: 100%; */
}

.productpage-carousel-par {
    /* background-color: blue; */
    width: 95%;
    border-radius: 10px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

        

}






@media only screen and (max-width: 450px) {


    .dummy {
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .des-sidetext {
        width: 95%;
        height: 485px;
        background-color: white;
        margin-left: 0px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 20px;
        border-radius: 10px;
    }


    .des-add {
        width: 200px;
        height: 62px;
        border-radius: 15px;
        border-width: 1px;
        /* border-color: #EA3339; */
    }

    .productpage-slide {
        width: 320px;
        height: 320px;
        overflow: hidden;
        /* background-color: aqua; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .productpage-carousel-img {
        width: 90%;
        /* height: 100%; */
    }
    
    .productpage-carousel-par {
        /* background-color: blue; */
        width: 95%;
        border-radius: 10px;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
        

}





